<h2> Bookshelf: {{ bookshelf !== undefined ? bookshelf.title : '' }} </h2>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addBook" aria-expanded="false" aria-controls="collapseExample">
    Add a book
</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#browseBooks" aria-expanded="false" aria-controls="collapseExample">
    Browse books
</button>

<div class="collapse" id="addBook">
    <div class="card card-body">
        <h3>Add book</h3>
        <app-dynamic-form [config]="config" #form="dynamicForm" (submit)="submit($event)">
        </app-dynamic-form>
    </div>
</div>
<div class="collapse" id="browseBooks">
    <div class="card card-body">
        <h3>Books</h3>
        <div *ngIf="bookshelf !== null && bookshelf !== undefined && bookshelf.books !== null && bookshelf.books !== undefined">
            <div class="list-group" *ngFor="let book of bookshelf.books">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> {{ book.title }} </h5>
                        <small> {{ book.isbn13 }} </small>
                    </div>
                    <p class="mb-1"> {{ book.authorSummary() }} </p>
                    <small> {{ book.published }} , {{ book.publisher }}</small>
                </a>
            </div>

        </div>
    </div>
</div>